<div class="flex flex-col gap-20">
  <div class="p-10 px-30 flex justify-between items-center gap-2">
    <div class="max-w-lg z-10 pt-32">
      <img
        src="assets/workout-photo.jpg"
        alt="Corredor"
        class="hidden min-[1000px]:block absolute right-0 top-0 z-0 h-[70vh] w-full object-cover [mask-image:linear-gradient(to_bottom,white_40%,transparent_90%)] [mask-composite:intersect]"
      />
    </div>
  </div>
  <div class="mt-40 flex flex-col items-center">
    <div class="justify-center flex flex-col items-center gap-4 w-full px-20">
      <h2 class="text-2xl font-bold mb-4 text-center">
        Workouts That Match Your Pace
      </h2>
      <p class="text-center max-w-2xl text-lg">
        Find workouts designed for your fitness level, your goals, and the time
        you have available. Every exercise helps you build a more active,
        balanced routine — without pressure or extremes. Just meaningful
        movement, supporting a healthier life one day at a time.
      </p>
    </div>
  </div>
  <div class="px-60">
    <div
      class="bg-[#5821C3] flex gap-4 p-10 rounded-2xl justify-center items-center"
    >
      <div class="flex flex-col gap-2 max-w-lg text-center">
        <h2 class="text-xl font-bold mb-4 text-center">
          Personalized Training Plans
        </h2>
        <p class="font-medium">
          Receive workouts tailored to your fitness level, restrictions, and
          objectives. The system uses your data to suggest safe, efficient
          routines that align with your profile and support continuous progress.
          A smart way to structure your exercise plan and improve performance
          with accuracy.
        </p>
      </div>
    </div>
  </div>
</div>
