<div class="flex flex-col gap-20 justify-center">
  <div class="p-10 px-30 flex items-center gap-2">
    <div class="max-w-lg z-10 pt-32">
      <img
        src="assets/recipes-photo.jpg"
        alt="Corredor"
        class="hidden min-[1000px]:block absolute right-0 top-0 z-0 h-[70vh] w-full object-cover [mask-image:linear-gradient(to_bottom,white_40%,transparent_90%)] [mask-composite:intersect]"
      />
    </div>
  </div>
  <div class="mt-40 flex flex-col items-center">
    <div class="justify-center flex flex-col items-center gap-4 w-full px-20">
      <h2 class="text-2xl font-bold mb-4 text-center">
        Healthy Recipes to Transform Your Day
      </h2>
      <p class="text-center max-w-2xl text-lg">
        Fuel your body with choices that support your routine and boost your
        well-being. Here, you’ll find recipes that match your tastes, needs, and
        goals, helping you build a lighter, more balanced lifestyle. Every
        suggestion is designed to inspire healthier habits in a practical,
        delicious, and achievable way — one step at a time, always at your pace.
      </p>
    </div>
  </div>
  <div class="px-60">
    <div
      class="bg-[#5DC350] flex gap-4 py-10 rounded-2xl justify-center items-center"
    >
      <div class="flex flex-col gap-2 max-w-lg text-center text-black">
        <h2 class="text-xl font-bold mb-4 text-center">
          Personalized Nutritional Recommendations
        </h2>
        <p class="font-medium"> 
          Get recipe suggestions tailored to your food preferences,
          restrictions, and individual goals. The system analyzes your
          information to recommend balanced options that prioritize nutritious
          ingredients, efficient preparation, and alignment with your needs. A
          smart, practical way to organize your daily meals with precision and
          personalization.
        </p>
      </div>
    </div>
  </div>
</div>
