<div
  class="px-8 py-20 md:px-12 lg:px-20 w-full min-h-screen flex items-center justify-center backdrop-blur-3xl !bg-cover !bg-center !bg-no-repeat"
  style="
    background: #5dc350;
    background: radial-gradient(
      circle,
      rgba(93, 195, 80, 1) 0%,
      rgba(88, 33, 195, 1) 100%
    );
  "
>
  <div
    class="px-8 md:px-12 lg:px-20 py-12 flex flex-col items-center gap-12 w-full max-w-xl backdrop-blur-2xl rounded-2xl bg-white/30 border border-white/10"
  >
    <div class="flex flex-col items-center gap-4 w-full">
      <div class="flex flex-col gap-2 w-full">
        <div class="text-center text-3xl font-medium text-white leading-tight">
          Welcome Back
        </div>
        <div class="text-center">
          <span class="text-white/80">Don't have an account? </span>
          <a
            [routerLink]="['/register']"
            class="text-white/80 cursor-pointer hover:text-white/90 underline"
            >Sign up
          </a>
        </div>
      </div>
    </div>
    <div class="flex flex-col items-center gap-8 w-full">
      <form
        class="flex flex-col gap-6 w-full"
        [formGroup]="loginForm"
        (ngSubmit)="onSubmit()"
      >
        <tui-textfield #m tuiTextfieldSize="m">
          <label tuiLabel>Enter your email</label>
          <input tuiTextfield formControlName="email" />
          @if (loginForm.get('email')?.invalid &&
          loginForm.get('email')?.touched) {
          <tui-error [error]="'Campo Obrigatório'" />
          }
        </tui-textfield>
        <tui-textfield #m tuiTextfieldSize="m">
          <label tuiLabel>Create your password</label>
          <input tuiTextfield type="password" formControlName="password" />
          <tui-icon tuiPassword />
          @if (loginForm.get('password')?.invalid &&
          loginForm.get('password')?.touched) {
          <tui-error [error]="'Campo Obrigatório'" />
          }
        </tui-textfield>
        <button
          tuiButton
          type="submit"
          size="m"
          appearance="primary"
          [disabled]="loginForm.invalid"
        >
          login
        </button>
      </form>
    </div>
  </div>
</div>
